#nameUni2{
    display:none  /*Makes it so the element doesnt show*/ 
}

.logo2 {
    display: none; /*Makes it so the element doesnt show*/ 
}

/*Media queries of what happen when the screen is max 670px*/
@media only screen and (max-width: 670px) { 

.logoImg {
    display: none; /*Makes it so the element doesnt show*/ 
}


}
/*Media queries of what happen when the screen is max 910px*/
@media only screen and (max-width: 910px) {
         
    #nameUni2{
        display:block /*Makes it so the element shows again*/ 
    }

    #nameUni1{
        display:none /*Makes it so the element doesnt show*/ 
    }
 }

/*Media queries of what happen when the screen is max 820px*/
@media only screen and (max-width: 820px) {
    #nameUni2{
        display:none  /*Makes it so the element doesnt show*/ 
    }
}

/*Styling for the header*/
header {      
        height: 140px;
        background-color: rgb(18, 61, 10);
        position: relative;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
        position: static;
        display: flex;       
    }

nav {    
        font-size: 1.4em;}
    li {
        display: inline;
           
         }       

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: white; /*textfärg från variabel*/
        display: inline;
    }

    .active {
        color: rgb(154, 203, 226);
        font-style: italic;
         font-weight: bold;
   text-decoration-line: underline;
    }

    a:hover{
         background-color: rgb(11, 141, 28);
    }

    #nameUni{
        margin-left: 0;
    }