<!-- <p>mainmenu works!</p> -->
 
<!-- <section class="logo1"> <h1 id="nameUni1"> BX University</h1></section> -->

<header>
<h1 class="logo1"><a routerLink="/home"><img class="logoImg" [src]="logoImage" alt="Logga" ></a></h1> <h1 id="nameUni1"> BX University</h1>
<h1 class="logo2"><a routerLink="/home"><img class="logoImg" [src]="logoImage" alt="Logga" ></a></h1> <h1 id="nameUni2"> University</h1>
<nav>

    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Startsida</a></li>
        <li><a routerLink="/courses" routerLinkActive="active">Kurser</a></li>
         <li><a routerLink="/framework" routerLinkActive="active">Ramschema</a></li>
    </ul>
  </nav>
  </header>  