header {       /*meny, använder nesting*/
        height: 140px;
        /*background-color: rgb(64, 57, 163);   bakgrundsfärg från variabel*/
        /* background-color: rgb(35, 31, 97); */

                background-color: rgb(6, 25, 78);
        position: relative;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
        position: static;
        display: flex; }

nav {    
        font-size: 1.4em;}
    li {
        display: inline;
           
         }       

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: white; /*textfärg från variabel*/
        display: inline;
    }

    .active {
        color: rgb(154, 203, 226);
        font-style: italic;
         font-weight: bold;
   text-decoration-line: underline;
    }

    a:hover{
         background-color: rgb(138, 15, 219);
    }

    #nameUni{
        margin-left: 0;
    }