table { /*Allmänna regler för footer*/
  
    margin-top: 5%;
    font-size: 1.2em;
    line-height: 120%;

     
}

th {
    cursor: pointer;
    text-align: left;
    padding: 0.3em;
}

p {
    text-align: center;
}

td {
    margin-left: 5%;
    padding: 0.3em;
}

button {
    background-color: orange;
    padding: 0.2em;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {

    .th_td1 {
        display: none;
    }
    

 }

 @media only screen and (max-width: 850px) {

    .th_td4 {
        display: none;
    }

 }

  @media only screen and (max-width: 570px) {

    .th_td3 {
        display: none;
    }

    td{
        font-size: 0.8em;
    }
 }
