<h2>Mina valda kurser</h2>

    @if(filteredCourses.length === 0) {
     <p>Det finns inga valda kurser</p>
}

   <p> Du har lagt till {{filteredCourses.length}} kurser. Totala antalet poäng för  dessa är {{sum}}</p>

   <p>Om du vill ta bort alla kurser: <button (click)="clearLocalstorage()">Rensa tabell</button></p>
          

<table>


      <thead>
<tr>
        <th>Kurskod</th>
        <th>Namn</th>
        <th>Poäng</th>
        <th>Ämne</th>
        <th>Progression</th>
        <th>Länk</th>    
</tr>
    </thead>

   <tbody > 
    <tr *ngFor="let course of filteredCourses; let i=index">
        <td>{{course.courseCode}}</td>
        <td>{{course.courseName}}</td>
            <td>{{course.points}}</td>
        <td>{{course.subject}}</td>
        <td>{{course.progression}}</td>  
        <td><a [href] = "course.syllabus" target="_blank">Visa kurs</a></td>  
        <td><button id="{{i}}" (click)="deleteCourse($event)" >Ta bort</button></td>   
        </tr>

        <!--(click)=" deleteCourse($event)"-->
    </tbody> 


    

 </table>

   


    
