
<div class="gridcontainer2">
    <div class="position1">
 <img [src]="frontImage" alt="Katter"> <!--bild -->
 </div>
 <section class="position2">
  <h2>Välkommen till vårt universitet</h2>
  <p>Här bryr vi oss om varandra</p>
  </section>


  <section class="position3">
   <img [src]=" imageGrasFlowers" alt="Blomfält">
    <h2>Hållbart universitet</h2>
    <p>Vi bryr oss om naturen och försöker styra så att vår verksamhet är så hållbar som möjligt.</p>

</section> <!--bild --><!--bild -->
   <!-- https://pixabay.com/sv/photos/blomster%C3%A4ng-v%C3%A5r-natur-%C3%A4ng-n%C3%A4rbild-7955256/ -->

  
<section class="position4">
   <img [src]=" imageStudent" alt="Blomfält">
    <h2>Studera hos oss</h2>
    <p>Det viktigaste för oss är våra studenter. Här kan du studera med andra och ta del av vårt studentliv. </p>

</section>

  
<section class="position5">
   <img [src]=" imageBooks" alt="Blomfält">
    <h2>Våra kurser</h2>
    <p>Vi har ett brett utbud av kurser inom många olika ämnen, som exempelvis XXXX. Se vår kurslista: <button (click)="navigateTo()">Våra kurser</button> </p>

</section>
</div>

<!--  -->

<!--<h1>Kurser</h1>



<div>
    <label for="filter">Filter</label>
    <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">
</div>

@if(filteredCourses.length === 0) {
     <p>Inga kurser matchar sökningen</p>
}-->

    <!--<div>
        <p>{{error()}}</p>
    </div> -->
<!-- } -->

<!--
<table>
      <thead>
<tr>
    <th  (click)="sort1()">Kurskod</th>
    <th  (click)="sort2()">Namn</th>
    <th  (click)="sort3()">Progression</th>
    <th>Länk</th>
    
</tr>
    </thead>

    
   <tbody *ngFor="let course of filteredCourses">
        <td>{{course.code}}</td>
        <td>{{course.coursename}}</td>
        <td>{{course.progression}}</td>  
        <td><a [href] = "course.syllabus" target="_blank">Visa kurs</a></td>  
    </tbody>

    


</table> -->

