<!--<h1>Kurser</h1>

<div>
    <label for="filter">Filter</label>
    <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">
</div>

@if(filteredCourses.length === 0) {
     <p>Inga kurser matchar sökningen</p>
}-->

    <!--<div>
        <p>{{error()}}</p>
    </div> -->
<!-- } -->

<!--
<table>
      <thead>
<tr>
    <th  (click)="sort1()">Kurskod</th>
    <th  (click)="sort2()">Namn</th>
    <th  (click)="sort3()">Progression</th>
    <th>Länk</th>
    
</tr>
    </thead>

    
   <tbody *ngFor="let course of filteredCourses">
        <td>{{course.code}}</td>
        <td>{{course.coursename}}</td>
        <td>{{course.progression}}</td>  
        <td><a [href] = "course.syllabus" target="_blank">Visa kurs</a></td>  
    </tbody>

    


</table> -->

