
<div class="gridcontainer2">
    
    <!--div for postion 1 in grid-->
    <div class="position1">
        <!--Image taken from folder provided by the course-->
        <img [src]="frontImage" alt="Två personer som kodar tillsammans"> 
    </div>

        <!--Section with position2 of the grid and header and paragraph-->
    <section class="position2">
        <h2>Välkommen till vårt universitet</h2>
        <p>Här bryr vi oss om varandra</p>
    </section>

        <!--Section with position3 of the grid and image and test that belong to that image
        image is taken from pixabay, the free to use sortiment-->
    <section class="position3">
        <img [src]=" imageGrasFlowers" alt="Blomfält">
        <h2>Hållbart universitet</h2>
        <p>Vi bryr oss om naturen och försöker styra så att vår verksamhet är så hållbar som möjligt.</p>
    </section> 

        <!--Section with position4 of the grid and image and test that belong to that image
        image is taken from pixabay, the free to use sortiment-->
    <section class="position4">
        <img [src]=" imageStudent" alt="Blomfält">
        <h2>Studera hos oss</h2>
        <p>Det viktigaste för oss är våra studenter. Här kan du studera med andra och ta del av vårt studentliv. </p>
    </section>
        
        <!--Section with position5 of the grid and image and test that belong to that image
        image is taken from pixabay, the free to use sortiment-->
    <section class="position5">
        <img [src]=" imageBooks" alt="Blomfält">
        <h2>Våra kurser</h2>
        <p>Vi har ett brett utbud av kurser inom många olika ämnen, som exempelvis XXXX. Se vår kurslista: <button (click)="navigateTo()">Våra kurser</button> </p>
    </section>

</div>

