
/*Styling for table*/
table { 
  
    margin-top: 5%;
    font-size: 1.0em;
    line-height: 120%;
}

th {
    cursor: pointer;
    text-align: left;
    padding: 0.3em;
}

td {
    margin-left: 5%;
    padding: 0.3em;

}

/*Styling for paragraph*/
p{ 
    text-align: center;
}


/*Styling forFilterbox*/
#filter { 
    margin: auto;
    margin-bottom: 0.8em;
    width: 300px;
    height: 30px;
    
}

/*Styling for selectoptions*/
#selectAmne{ 
   font-size: 0.9em;
   margin-bottom: 1em;

}

/*Styling for button*/
button {
    background-color: orange;
    padding: 0.2em;
    cursor: pointer;
}


/*Handles mediaQueries for screen with max-width 950px*/
@media only screen and (max-width: 950px) {

    .th_td1 {
        display: none;
    } }

 /*Handles mediaQueries for screen with max-width 850px*/
 @media only screen and (max-width: 850px) {

    .th_td4 {
        display: none;
    } }

 /*Handles mediaQueries for screen with max-width 570px*/
  @media only screen and (max-width: 570px) {

    .th_td3 {
        display: none;
    }

    td{
        font-size: 0.8em;
    }
 }


